@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --dark: #66555F;
  --darker: #42363d;
  --lessdark: #A49193;
  --bright: #f09574;
  --brighter: #f37e53;
  --lessbright: #EFA990;
  --light: #FFE8D6;
  --lighter: #fff1e6;
  --lesslight: #f7dac5;
  --white: #fffaf6;
  --black: #1d1b1c;
  --gray: #8f8f8f;
  --darkgray: #555555;
  --lightgray: #b1b1b1;
  
  --red: #c01c1f;
  --orange: #e99210;
  --yellow: #dbc605;
  --green: #257727;
  --cyan: #96dbdd;
}

@theme {
  /* Colors */
  --color-dark: var(--dark);
  --color-darker: var(--darker);
  --color-lessdark: var(--lessdark);
  --color-bright: var(--bright);
  --color-lessbright: var(--lessbright);
  --color-brighter: var(--brighter);
  --color-light: var(--light);
  --color-lighter: var(--lighter);
  --color-lesslight: var(--lesslight);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-disabled: var(--disabled);
  --color-gray: var(--gray);
  --color-darkgray: var(--darkgray);
  --color-lightgray: var(--lightgray);
  --color-red: var(--red);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-cyan: var(--cyan);

  /* Fonts */
  --font-mono: "IBM Plex Mono", monospace;
}


@layer base {
  * {
    @apply font-mono font-normal;
  }

  body {
    background-color: var(--white);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.bright {
  color: var(--bright);
}

.dark {
  color: var(--dark);
}